.aboutHeader{
 color:#134080;
 text-align:center;
}
.storeDescription{
 color:#134080;
}
.carolynRow{
 color:#134080;
 img{
  float:left;
  padding:10px;
 }
}
.staffHeader{
 text-align:center;
 color:#134080;
}

.staffBlock{
 text-align:center;
}
.staffCards{
 margin-top:10px;
 position:relative;
 max-width:250px;
  .staffInfo{
   position:absolute;
   bottom:0px;
   height:100%;
   width:100%;
   border-radius:3%;
   background-color:black;
   opacity:.8;
   color:white;
   overflow:scroll;

   p{
    text-align:left;
    padding:10px;
   }
 }
}
