#carouselWrapper {
  padding-top: 15px; }
  #carouselWrapper .carousel-control {
    display: none; }
  #carouselWrapper .carousel-indicators {
    display: none; }

.mainSection {
  text-align: center;
  margin-top: 20px; }
