#carouselWrapper{
padding-top:15px;
.carousel-control{
 display:none;
}
.carousel-indicators{
 display:none;
}
img{
 height:300px;
 width:800px;
}
}
.mainSection{
 text-align:center;
 margin-top:20px;
}
