#carouselWrapper {
  padding-top: 15px; }
  #carouselWrapper .carousel-control {
    display: none; }
  #carouselWrapper .carousel-indicators {
    display: none; }
  #carouselWrapper img {
    height: 400px;
    width: 1150px; }

.mainSection {
  text-align: center;
  margin-top: 20px; }
