li {
  list-style-type: none; }
  li img {
    height: 15px;
    margin-right: 5px; }

.injuryPages {
  color: #134080; }

.injuryButton {
  margin-left: 10px;
  display: inline-block;
  background-color: #134080; }

.injuryNav {
  margin-top: 25px;
  margin-bottom: 25px; }

.injuryImage1 {
  padding-top: 25px; }

.widthFix {
  width: 338px; }

.shinSplintImage2 {
  margin-top: 10px; }

.stretchImages {
  display: inline-block;
  border: 2px solid #134080;
  margin-top: 10px; }

.injuryRow1 {
  border-bottom: 3px solid #134080;
  padding-bottom: 10px;
  padding-top: 10px; }

.injuryRow2 {
  border-bottom: 3px solid #134080;
  padding-bottom: 10px;
  padding-top: 10px; }

.injuryRow3 {
  border-bottom: 3px solid #134080;
  padding-bottom: 10px;
  padding-top: 10px; }
