@import url('homePage.css');
@import url('aboutPage.css');
@import url('educationPage.css');

.header{
 border-bottom:2px solid blue;
}
.navBar {
 display:inline-block;
 text-align:center;
}
.navBar li{
 display:inline-block;
}
.mediaIconsHeader{
 display:inline-block;
 float:right;
}
.mediaIconsHeader li{
 display:inline-block;
}

.mediaIconsFoot{
 display:inline-block;
}
.mediaIconsFoot li{
 display:inline-block;
}
.footer{
 border-top:2px solid blue;
}
