@import url('homePage.css');
.header{
 border-bottom:2px solid blue;
}
.navBar {
 display:inline-block;
}
.navBar li{
 display:inline-block;
}
.mediaIcons{
 display:inline-block;
 float:right;
}
.mediaIcons li{
 display:inline-block;
}
.footer{
 border-top:2px solid blue;
}
