@import url('homePage.css');
@import url('aboutPage.css');
@import url('educationPage.css');
@import url('injuryPages.css');
@import url('contactPage.css');
@import url('goodForm.css');

body{
 background:white;
 font-family:'Lato', sans-serif;
}
.contentDivWrapper{
 box-shadow:1px 1px 5px black;
}
.contentDiv{
 padding:10px;
}
.noPadding{
 padding:0;
}
#headerRow{
 background: #1d467f; /* Old browsers */
 background: -moz-linear-gradient(top, #1d467f 0%, #134080 51%, #1d467f 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d467f), color-stop(51%,#134080), color-stop(100%,#1d467f)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #1d467f 0%,#134080 51%,#1d467f 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #1d467f 0%,#134080 51%,#1d467f 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top, #1d467f 0%,#134080 51%,#1d467f 100%); /* IE10+ */
 background: linear-gradient(to bottom, #1d467f 0%,#134080 51%,#1d467f 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d467f', endColorstr='#1d467f',GradientType=0 ); /* IE6-9 */
}
#headerWrapper{
 padding:0px;
}
#footStoreLogo{
 display:inline-block;
 height:100px;
 width:250px;
 padding-top:10px;
 margin-left:80px;
}
.navBar {
 display:inline-block;
 text-align:center;
 padding:0;
 margin-top:25px;
 font-size:40px;
 margin-left:95px;
}
.nav-tabs{
 border-bottom:none;
}
.navBar a{
 font-size:18px;
 margin:0px 5px;
 text-decoration:none;
 color:white;
}
.navBar li{
 display:inline-block;
 margin-left:25px;
}
.navBar li a:hover{
 background-color:white;
 color:#134080;
}
.navBar li a:focus{
 background-color:white;
 color:#134080;
}
.mediaIconsHeader{
 margin-top:25px;
}
.mediaIconsHeader li{
 display:inline-block;
 padding-left:5px;
}
.mediaIconsHeader img{
 height:50px;
}
.mediaIconsHeader img:hover{
 height:55px;
}

.footer{
 text-align:center;
 margin-top:15px;
 color:#134080;
}
.footerLeft{
 /* padding-top:30px;
 margin-right:-120px; */
}
.footerLeft ul{
 padding:0px;
}
.footerLeft li{
 list-style-type:none;
 font-size:18px;
}
.footerLeft h2{
 font-size:28px;
}
.footerMiddle{
 /* padding-left:100px; */
}
.footerRight{
 /* padding-top:30px;
 margin-left:-40px; */
}
.footerRight ul{
 padding:0px;
}
.footerRight li{
 list-style-type:none;
 font-size:18px
}
.footerRight h2{
 font-size:28px;
}
.mediaIconsFooter{
 padding:0px;
}
.phoneIcon{
 height:30px;
 padding-right:5px;
}
.mediaIconsFooter li{
 display:inline-block;
}
.mediaIconsFooter img{
 height:50px;
}
#footerLogo{
 display:inline-block;
 width:300px;
 height:200px;
}
