<div class="col-lg-2">
 <ul>
  <a href="#/education/shinSplints" class="btn btn-primary injuryButton"><li>Shin Splints</li></a>
  <a href="#/education/runnersKnee" class="btn btn-primary injuryButton"><li>Runners Knee</li></a>
  <a href="#/education/neuromas" class="btn btn-primary injuryButton"><li>Neuromas</li></a>
  <a href="#/education/ibs" class="btn btn-primary injuryButton"><li>Iliotibial BS</li></a>
  <a href="#/education/hipPain" class="btn btn-primary injuryButton"><li>Hip Pain</li></a>
  <a href="#/education/heelPain" class="btn btn-primary injuryButton"><li>Heel Pain</li></a>
  <a href="#/education/bunions" class="btn btn-primary injuryButton"><li>Bunions</li></a>
  <a href="#/education/backPain" class="btn btn-primary injuryButton"><li>Back Pain</li></a>
  <a href="#/education/achilles" class="btn btn-primary injuryButton"><li>Achilles Tendon</li></a>
 </ul>
</div>


<div class="col-lg-10">
 <!-- START OF ROW 1 -->
 <row>
  <div class="col-lg-5">
   <img src="https://placehold.it/300x200" alt="">
  </div>
  <div class="col-lg-7">
   <h2>Title</h2>
   <h3>SYMPTOMS</h3>
   <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
   </ul>
   <h3>DEFINITIONS</h3>
   <h4>TITLE</h4>
   <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
   </ul>
  </div>
 </row>
 <!-- END OF ROW 1 -->
 <hr>
 <!-- START OF ROW 2 -->
 <row>
  <div class="col-lg-6">
   <h3>PRIMARY CAUSE</h3>
   <h4>CAUSE NAME</h4>
   <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
   </ul>
  </div>
  <div class="col-lg-6">
   <h3>CONTRIBUTING FACTORS</h3>
   <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <img src="https://placehold.it/200x200" alt="">
   </ul>
  </div>
 </row>
 <!-- END OF ROW 2 -->
 <hr>
 <!-- START OF ROW 3 -->
 <row>
  <div class="col-lg-6">
   <img src="https://placehold.it/300x200" alt="">
  </div>
  <div class="col-lg-6">
   <span><h3>TREATMENT</h3> <p>- (advice given most often in literature)</p></span>
   <p>The 3 S's - Stretching, Strengthening and Supporting, along with ICE and REST, have been found to be the simplest and most effective treatment for these injuries.</p>
   <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
   </ul>
  </div>
 </row>
 <!-- END OF ROW 3 -->
 <hr>
 <row>
  <div class="col-lg-12">
   <p>The following are a few helpful exercises. Check with your doctor for specifics on your condition and what you shoud or should not do for your problem.</p>
   <img src="https://placehold.it/500x500" alt="">
   <a href="">Click here to download PDF version</a>
  </div>
 </row>
</div>
