<div class="row">
 <h2>"Who We Are"</h2>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil aliquid ea quas mollitia blanditiis ut. Sint veniam, quis vero eaque sed eos ex quas provident, esse cumque? Minus, voluptatum?</p>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem atque fugiat aspernatur sed aut hic temporibus, officiis quod, porro totam aliquid et deserunt tenetur facilis, iste quia accusantium ipsum harum.</p>
 <h3>Owners-Carolyn,Dr Ray???</h3>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, beatae. Laborum illum deserunt repellat in voluptates id. Tempore alias, modi eum cupiditate repudiandae vel nostrum harum libero, consequuntur, maxime expedita!</p>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut accusamus nostrum repellendus voluptate consectetur assumenda officia, vel expedita voluptas pariatur obcaecati sint! Animi hic, magni perspiciatis accusantium quaerat voluptatum excepturi.</p>
</div>
<div class="row staffHeader">
 <h2>The Staff</h2>
</div>
<div class="col-lg-12 staffBlock">
 <div ng-repeat="people in staff">
  <div class="col-lg-4 staffCards">
   <img src="{{people.image}}" alt="">
  </div>
 </div>
</div>
