<div class="col-lg-2">
 <ul class="injuryNav">
  <a href="#/education/shinSplints" class="btn btn-primary injuryButton"><li>Shin Splints</li></a>
  <a href="#/education/runnersKnee" class="btn btn-primary injuryButton"><li>Runners Knee</li></a>
  <a href="#/education/neuromas" class="btn btn-primary injuryButton"><li>Neuromas</li></a>
  <a href="#/education/ibs" class="btn btn-primary injuryButton"><li>Iliotibial BS</li></a>
  <a href="#/education/hipPain" class="btn btn-primary injuryButton"><li>Hip Pain</li></a>
  <a href="#/education/heelPain" class="btn btn-primary injuryButton"><li>Heel Pain</li></a>
  <a href="#/education/bunions" class="btn btn-primary injuryButton"><li>Bunions</li></a>
  <a href="#/education/backPain" class="btn btn-primary injuryButton"><li>Back Pain</li></a>
  <a href="#/education/achilles" class="btn btn-primary injuryButton"><li>Achilles Tendon</li></a>
 </ul>
</div>


<div class="col-lg-10 injuryPages">
 <!-- START OF ROW 1 -->
 <div class="row injuryRow1">
  <div class="col-lg-5">
   <img src="images/achilles/achilles1.jpg" alt="" class="img-responsive injuryImage1">
  </div>
  <div class="col-lg-7">
   <h2>ACHILLES TENDON</h2>
   <h3>SYMPTOMS</h3>
   <ul>
    <li>Pain along the achilles tendon during/after activity</li>
    <li>Swelling over the distal 1-3 inches of the Achilles tendon (see picture below)</li>
    <li>Tender to touch</li>
    <li>Pain associated with or when trying to raise up on the toes, or with
     stretching of the calf/Achilles tendon</li>
    <li>Limited range of motion and stiffness</li>
   </ul>
   <h3>DEFINITIONS</h3>
   <h4>ACHILLES TENDONITIS</h4>
   <ul>
    <li>An inflammation of the tendon that connects the calf muscles to the heel bone (calcaneus)</li>
    <li>May be small tears in the tendon from overuse</li>
   </ul>
   <h4>ACHILLES RUPTURE</h4>
   <ul>
    <li>Weakening of the collagen fibers of the tendon leading to partial tearing or rupture (complete tear) of thetendon away from the heel</li>
    <li>Rupture noted by inability to raise up on toes or push off with ball of foot in walking</li>
   </ul>
   <h4>TENOSYNOVITIS</h4>
   <ul>
    <li>Inflamation of the vascular sheath that covers the Achilles tendon</li>
    <li>May even be caused by the shoe counter rubbing on the heel</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 1 -->
 <hr>
 <!-- START OF ROW 2 -->
 <div class="row injuryRow2">
  <div class="col-lg-6">
   <h3>PRIMARY CAUSE</h3>
   <h4>EXCESSIVE PRONATION</h4>
   <ul>
    <li>Pronation is a normal movement of the foot, that allows the arch to flatten to a degree, which helps the body to absorb shock and adapt to different ground surfaces</li>
    <li>In analyzing ones gait, first contact is on the heel and outside of the foot; followed by a shift of bodyweight continuing forward toward the arch and toes</li>
    <li>If the foot is weak or tired and/or the footwear is not supportive, then the arch can flatten more than normal, which is excessive pronation</li>
    <li>Flattening of the arch (excessive pronation) places pressure on the arch and stretches the plantar fascia (which supports the arch) and can create inflammation at the attachment on the heel</li>
    <li>This repetitive, excessive pronation, is the main contributor to many lower extremity, overuse injuries. Asthe achilles tendon attaches on the back of the heel, and if the the foot is in excessive pronation, there is an increased torque or pull on the tendon, which can cause inflammation</li>
   </ul>
  </div>
  <div class="col-lg-6">
   <h3>CONTRIBUTING FACTORS</h3>
   <ul>
    <li>Tight calf muscles (the gastroc and/or soleus) and tight achilles tendon</li>
    <li>Often with increasing age, there is decreasing flexibility</li>
    <li>Increasing the amount or intensity of training – uphill running, or stair climbing</li>
    <li>Flat pronated feet add stress to the soleus and rigid, high arched feet add stress to the gastroc</li>
    <li>Poor support on the inside of a shoe or in the shoe’s foundation/upper can add to the stress on the foot -thus increasing calf stress</li>
    <li>Change in the heel height of one’s shoes (from training shoes to racing flats, heels to flats etc.)</li>
    <img src="images/achilles/achilles2.jpg" alt="" class="img-responsive">
   </ul>
  </div>
 </div>
 <!-- END OF ROW 2 -->
 <hr>
 <!-- START OF ROW 3 -->
 <div class="row injuryRow3">
  <div class="col-lg-12">
  <div class="col-lg-6">
   <img src="images/achilles/achilles3.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-lg-6">
   <span><h3>TREATMENT</h3> <p>- (advice given most often in literature)</p></span>
   <p>The 3 S's - Stretching, Strengthening and Supporting, along with ICE and REST, have been found to be the simplest and most effective treatment for these injuries.</p>
   <ul>
    <li>Stretching of the calf (both gastroc and soleus) muscles and Achilles tendon can help eliminate or prevent many problems with the achilles tendon</li>
    <li>Strengthening of the calf muscles once the inflammation is gone, can help prevent further injury</li>
    <li>Avoid hill or stair running until symptoms disappear</li>
    <li>Supporting the foot with the proper shoes and insoles, can prevent or eliminate the vast majority of increased stresses on the lower extremity. This may be a Birkenstock sandal, with a broad base and contoured footbed, that is low to the ground and conforms to the foot. It may also be a shoe with an upper that wraps the foot and supports the arch and heel thus limiting excessive pronation. The vast majority of footwear have more than enough cushion but very little support for the arch and heel. One of the easiest and most effective solutions is to add a simple over the counter insole that provides a forgiving support for both the arch and heel</li>
    <li>Make sure that the heel collar does not dig into the achilles. Look for a cut out of the heel (heel notch)</li>
   </ul>
  </div>
 </div>
</div>
 <!-- END OF ROW 3 -->
 <hr>
 <div class="row">
  <div class="col-lg-12">
   <h3>The following are a few helpful exercises. Check with your doctor for specifics on your condition and what you shoud or should not do for your problem.</h3>
   <a href="images/stretches/achillesPDF.pdf" target="_blank">Click here to download PDF version</a>
   <br>
   <img src="images/stretches/towelCalf.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/gastroc.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/soleus.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/bilatHeelRaise.jpg" alt="" class="img-responsive stretchImages">
  </div>
 </div>
</div>
