<div class="col-lg-2">
 <ul class="injuryNav">
  <a href="#/education/shinSplints" class="btn btn-primary injuryButton"><li>Shin Splints</li></a>
  <a href="#/education/runnersKnee" class="btn btn-primary injuryButton"><li>Runners Knee</li></a>
  <a href="#/education/neuromas" class="btn btn-primary injuryButton"><li>Neuromas</li></a>
  <a href="#/education/ibs" class="btn btn-primary injuryButton"><li>Iliotibial BS</li></a>
  <a href="#/education/hipPain" class="btn btn-primary injuryButton"><li>Hip Pain</li></a>
  <a href="#/education/heelPain" class="btn btn-primary injuryButton"><li>Heel Pain</li></a>
  <a href="#/education/bunions" class="btn btn-primary injuryButton"><li>Bunions</li></a>
  <a href="#/education/backPain" class="btn btn-primary injuryButton"><li>Back Pain</li></a>
  <a href="#/education/achilles" class="btn btn-primary injuryButton"><li>Achilles Tendon</li></a>
 </ul>
</div>


<div class="col-lg-10 injuryPages">
 <!-- START OF ROW 1 -->
 <div class="row injuryRow1">
  <div class="col-lg-5">
   <img src="images/backpain/backpain1.jpg" alt="" class="img-responsive injuryImage1">
  </div>
  <div class="col-lg-7">
   <h2>Chronic Low Back Pain</h2>
   <h3>SYMPTOMS</h3>
   <ul>
    <li>Pain in the low back, possibly radiating into the buttocks or down the leg</li>
    <li>A general aching in low back; may include stiffness</li>
    <li>Restricted range of motion</li>
    <li>Pain can be felt with prolonged sitting, prolonged standing or when going from sitting to standing</li>
   </ul>
   <h3>DEFINITIONS</h3>
   <h4>PIRIFORMIS SYNDROME</h4>
   <ul>
    <li>A spasm or tightness of the piriformis muscle in the buttocks that can irritate or impinge the sciatic nerve, causing pain</li>
    <li>Poor mechanics of the foot and lower extremity can cause a rotation in the pelvis causing the spasm to occur</li>
   </ul>
   <h4>DISC PROBLEMS</h4>
   <ul>
    <li>Discs are found between each of the vertebrae of the spine from C2 to S1</li>
    <li>Discs (the cushioning between the vertebrae) can be compressed, ruptured, herniated, develop a mildbulge or, there may be degeneration of the disc</li>
    <li>Any of the above conditions may occur from poor posture in sitting or standing. Also, with standing,walking or running, poor support of the foot can lead to mechanical changes in the back</li>
   </ul>
   <h4>LEG LENGTH DISCREPANCIES</h4>
   <ul>
    <li>A difference in the length of the leg from the pelvis to the ankle.</li>
    <li>May be due to a fracture of the bone in the lower leg or thigh</li>
    <li>Could also be caused by poor mechanics of the lower extremity due to lack of good support beginning at the foot</li>
   </ul>
   <h4>ARTHRITIS</h4>
   <ul>
    <li>A degenerative condition where the joints become abnormal due to damage to the cartilage.</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 1 -->
 <hr>
 <!-- START OF ROW 2 -->
 <div class="row injuryRow2">
  <div class="col-lg-6">
   <h3>PRIMARY CAUSE</h3>
   <h4>EXCESSIVE PRONATION</h4>
   <ul>
    <li>Pronation is a normal movement of the foot, that allows the arch to flatten to a degree, which helps the body to absorb shock and to adapt to different ground surfaces</li>
    <li>In analyzing ones gait, first contact is on the heel and outside of the foot; followed by a shift of body weight continuing forward, toward the arch and toes</li>
    <li>If the foot is weak or tired and/or the footwear is not supportive, then the arch can flatten more than normal, which is excessive pronation</li>
    <li>Flattening of the arch (excessive pronation) places pressure on the foot which can cause a chain reaction right up the leg to the knee, hip, pelvis and low back</li>
    <li>This repetitive, excessive pronation, is the main contributor of many lower extremity, overuse injuries which can also include back problems</li>
   </ul>
  </div>
  <div class="col-lg-6">
   <h3>CONTRIBUTING FACTORS</h3>
   <ul>
    <li>Poor flexibility</li>
    <li>Muscle imbalances</li>
    <li>Leg length discrepancies</li>
    <li>Flat pronated feet</li>
    <li>Poor support of the shoes you wear and/or the support in the shoes, can add to the stress on the foot and back</li>
    <li>Biomechanical changes in the foot can allow increases in pronation</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 2 -->
 <hr>
 <!-- START OF ROW 3 -->
 <div class="row injuryRow3">
  <div class="col-lg-12">
  <div class="col-lg-6">
   <img src="images/backpain/backpain2.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-lg-6">
   <span><h3>TREATMENT</h3> <p>- (advice given most often in literature)</p></span>
   <p>The 3 S's - Stretching, Strengthening and Supporting, along with ICE and REST, have been found to be the simplest and most effective treatment for these injuries.</p>
   <ul>
    <li>Stretching of the muscles of the lower extremity can help reduce pressure on the back. This can includethe hamstring, piriformis, IT Band, Psosas Major and low back</li>
    <li>Strengthening of the abdominal muscles, hip and low back and legs can reduce stress on the back also</li>
    <li>Supporting the foot with proper shoes and insoles, can prevent or eliminate the vast majority of foot related problems. This may be a Birkenstock sandal, with a broad base and contoured footbed, that is low to the ground and conforms to the foot. It may also be a shoe with an upper that wraps the foot and supports the arch and heel, thus limiting excessive pronation. The vast majority of footwear have enough cushion but very little support for the arch and heel. One of the easiest and most effective solutions is to add a simple over the counter insole that provides a forgiving support for both the arch and heel</li>
    <li>Correct posture for sitting, standing and activity</li>
    <li>Physical therapy including ultrasound, massage, soft tissue mobilization and exercise along with posture stabilization</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 3 -->
 <hr>
 <div class="row">
  <div class="col-lg-12">
   <h3>BACK CONDITIONS/INJURIES VARY WIDELY. INDIVIDUALEXERCISE/STRETCHING PROGRAMS SHOULD ONLY BE DESIGNEDBY A PROFESSIONAL ON A CASE-BY-CASE BASIS FOLLOWING AN EXAMINATION</h3>
   <a href="images/stretches/backpainPDF.pdf" target="_blank">Click here to download PDF version</a>
  </div>
 </div>
</div>
</div>
