<div class="col-lg-2">
 <ul class="injuryNav">
  <a href="#/education/shinSplints" class="btn btn-primary injuryButton"><li>Shin Splints</li></a>
  <a href="#/education/runnersKnee" class="btn btn-primary injuryButton"><li>Runners Knee</li></a>
  <a href="#/education/neuromas" class="btn btn-primary injuryButton"><li>Neuromas</li></a>
  <a href="#/education/ibs" class="btn btn-primary injuryButton"><li>Iliotibial BS</li></a>
  <a href="#/education/hipPain" class="btn btn-primary injuryButton"><li>Hip Pain</li></a>
  <a href="#/education/heelPain" class="btn btn-primary injuryButton"><li>Heel Pain</li></a>
  <a href="#/education/bunions" class="btn btn-primary injuryButton"><li>Bunions</li></a>
  <a href="#/education/backPain" class="btn btn-primary injuryButton"><li>Back Pain</li></a>
  <a href="#/education/achilles" class="btn btn-primary injuryButton"><li>Achilles Tendon</li></a>
 </ul>
</div>


<div class="col-lg-10 injuryPages">
 <!-- START OF ROW 1 -->
 <div class="row injuryRow1">
  <div class="col-lg-5">
   <img src="images/bunions/bunions1.jpg" alt="" class="img-responsive injuryImage1">
  </div>
  <div class="col-lg-7">
   <h2>BUNIONS</h2>
   <h3>SYMPTOMS</h3>
   <ul>
    <li>Painful area around the big toe joint which may be red and swollen</li>
    <li>The big toe may be stiff and not want to bend and may be painful</li>
   </ul>
   <h3>DEFINITIONS</h3>
   <ul>
    <li>An inflammation of the big toe joint that may cause an enlargement</li>
    <li>A bony protrusion, which is also generally associated with the angling of the big toe toward the smallertoes creating pressure at the first joint of the big toe</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 1 -->
 <!-- START OF ROW 2 -->
 <div class="row injuryRow2">
  <div class="col-lg-6">
   <h3>PRIMARY CAUSE</h3>
   <h4>HEREDITY</h4>
   <ul>
    <li>Generally one does not have a choice if they develop a bunion</li>
    <li>If there is not enough arch support or support under the ball of the foot the bunion can become worse</li>
   </ul>
   <h4>Excessive Pronation</h4>
   <ul>
    <li>Pronation is a normal movement of the foot that allows the arch to flatten to a degree, which helps the body to absorb shock and adapt to different ground surfaces</li>
    <li>In analyzing ones gait, first contact is on the heel and outside of the foot; followed by a shift of bodyweight continuing forward, toward the arch and toes</li>
    <li>If the foot is weak or tired and/or the footwear is not supportive, then the arch can flatten more than normal, which is excessive pronation</li>
    <li>Flattening of the arch (excessive pronation) places pressure and excessive force on the big toe joint whichcan cause degenerative changes and inflammation that can irritate the bunion</li>
    <li>With excessive pronation, increased stresses can be placed on the foot which can further contribute to ankle, knee, hip and low back problems (a chain reaction)</li>
   </ul>
  </div>
  <div class="col-lg-6">
   <h3>CONTRIBUTING FACTORS</h3>
   <ul>
    <li>Wearing shoes that do not fit correctly – such as narrow shoes or shoes with pointed toes</li>
    <li>Incorrect foot mechanics – excessive pronation</li>
    <li>Injury or arthritis may eventually increase the bunion</li>
    <li>Wearing high heeled shoes with pointed or narrow toe box</li>
    <li>Insufficient support in the platform (and/or the inside,arch area) of the shoe being worn, can add to the stress on the foot (bunion)</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 2 -->
 <!-- START OF ROW 3 -->
 <div class="row injuryRow3">
  <div class="col-lg-12">
  <div class="col-lg-6">
   <img src="images/bunions/bunions2.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-lg-6">
   <span><h3>TREATMENT</h3> <p>- (advice given most often in literature)</p></span>
   <p>The 3 S's - Stretching, Strengthening and Supporting, along with ICE and REST, have been found to be the simplest and most effective treatment for these injuries.</p>
   <ul>
    <li>Stretching of the calf and foot will help to decrease the pressure on the foot</li>
    <li>Strengthening the ankle and foot, can help reduce pressures on the foot due to overpronation</li>
    <li>Supporting the foot with proper shoes and insoles, can prevent or eliminate the vast majority of footrelated problems. Although bunions and hallux valgus are hereditary, the symptoms can be kept to aminimum by reducing the pressure. This can be done by a Birkenstock sandal, with a broad base andcontoured footbed, that is low to the ground and conforms to the foot. It may also be a shoe with an upperthat wraps the foot and supports the arch and heel, thus limiting excessive pronation. The vast majority offootwear have more than enough cushion but very little support for the arch and heel. Finding a shoe with extra depth and wide toe box can be very important. One of the easiest and most effective solutions is toadd a simple over the counter insole that provides a forgiving support for both the arch and heel</li>
    <li>Wear shoes with a wider toe box</li>
    <li>Stretching of the calf, achilles tendon and foot</li>
    <li>Strengthening of the muscles in the foot</li>
   </ul>
  </div>
 </div>
</div>
 <!-- END OF ROW 3 -->
 <hr>
 <div class="row">
  <div class="col-lg-12">
   <a href="images/stretches/bunionsPDF.pdf" target="_blank">Click here to download PDF version</a>
  </div>
 </div>
</div>
