<div class="col-lg-2">
 <ul class="injuryNav">
  <a href="#/education/shinSplints" class="btn btn-primary injuryButton"><li>Shin Splints</li></a>
  <a href="#/education/runnersKnee" class="btn btn-primary injuryButton"><li>Runners Knee</li></a>
  <a href="#/education/neuromas" class="btn btn-primary injuryButton"><li>Neuromas</li></a>
  <a href="#/education/ibs" class="btn btn-primary injuryButton"><li>Iliotibial BS</li></a>
  <a href="#/education/hipPain" class="btn btn-primary injuryButton"><li>Hip Pain</li></a>
  <a href="#/education/heelPain" class="btn btn-primary injuryButton"><li>Heel Pain</li></a>
  <a href="#/education/bunions" class="btn btn-primary injuryButton"><li>Bunions</li></a>
  <a href="#/education/backPain" class="btn btn-primary injuryButton"><li>Back Pain</li></a>
  <a href="#/education/achilles" class="btn btn-primary injuryButton"><li>Achilles Tendon</li></a>
 </ul>
</div>


<div class="col-lg-10 injuryPages">
 <!-- START OF ROW 1 -->
 <div class="row injuryRow1">
  <div class="col-lg-5">
   <img src="images/heelpainPF/heelpainPF1.jpg" alt="" class="img-responsive injuryImage1">
  </div>
  <div class="col-lg-7">
   <h2>HEEL PAIN AND PLANTAR FASCIITIS</h2>
   <h3>SYMPTOMS</h3>
   <ul>
    <li>Pain experienced under the heel and/or along the arch of the foot</li>
    <li>Most painful with the first steps in the morning and after prolonged sitting</li>
    <li>Dull intermittent pain which can progress to sharp persistent pain</li>
    <li>General stiffness felt in foot/ankle</li>
   </ul>
   <h3>DEFINITIONS</h3>
   <h4>PLANTAR FASCIITIS</h4>
   <ul>
    <li>An inflammation of the connective tissue of the bottom of the foot</li>
    <li>Plantar= bottom of the foot, Fascia=dense fibrous connective tissue, Itis=inflammation</li>
    <li>The plantar fascia attaches to the bottom of the heel bone and fans out to the toes</li>
    <li>The plantar fascia is designed to support the foot and form the arch. It has very little elasticity and is very thick</li>
   </ul>
   <h4>HEEL SPURS</h4>
   <ul>
    <li>A heel spur is an abnormal growth of bone on the heel due to excessive stress or pulling where theplantar fascia attaches to the heel</li>
    <li>The excessive tugging of the plantar fascia on the heel bone causes this excess of bone (bone spur) togrow in a pointed fashion toward the toes</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 1 -->
 <hr>
 <!-- START OF ROW 2 -->
 <div class="row injuryRow2">
  <div class="col-lg-6">
   <h3>PRIMARY CAUSE</h3>
   <h4>EXCESSIVE PRONATION</h4>
   <ul>
    <li>Pronation is a normal movement of the foot, that allows the arch to flatten to a degree, which helps thebody to absorb shock and adapt to different ground surfaces</li>
    <li>In analyzing ones gait, first contact is on the heel and outside of the foot; followed by a shift of bodyweight continuing forward toward the arch and toes</li>
    <li>If the foot is weak or tired and/or the footwear is not supportive, then the arch can flatten more thannormal, which is excessive pronation</li>
    <li>Flattening of the arch (excessive pronation) places pressure on the arch and stretches the plantar fascia(which supports the arch) and can create inflammation at the attachment on the heel</li>
    <li>This repetitive, excessive pronation, is the main contributor to many lower extremity, overuse injuries, ofwhich plantar fasciitis and heel spurs are the most common in the foot</li>
   </ul>
  </div>
  <div class="col-lg-6">
   <h3>CONTRIBUTING FACTORS</h3>
   <ul>
    <li>Age-With increasing age, often there is decreasing flexibility</li>
    <li>Any sudden change in activity, specifically activities that increase weight bearing or pressure on the foot</li>
    <li>Changes in training-Increased toe running, speed of running or hill running can add stress to the feet</li>
    <li>Flat feet are most susceptible because of the lack of support.
     Rigid, high arched feet can be susceptibledue to lack of flexibility</li>
    <li>Sudden increase in body weight (overweight or pregnancy) may also add strain</li>
    <li>Poor support in the shoes being worn and/or the poor support inside the shoes can add to the stress on the foot</li>
    <li>Biomechanical changes in the foot can cause increases in pronation (see Primary Causes)</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 2 -->
 <hr>
 <!-- START OF ROW 3 -->
 <div class="row injuryRow3">
  <div class="col-lg-12">
  <div class="col-lg-6">
   <img src="images/heelpainPF/heelpainPF2.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-lg-6">
   <span><h3>TREATMENT</h3> <p>- (advice given most often in literature)</p></span>
   <p>The 3 S's - Stretching, Strengthening and Supporting, along with ICE and REST, have been found to be the simplest and most effective treatment for these injuries.</p>
   <ul>
    <li>Stretching of the calf, Achilles tendon and foot can help or eliminate the majority of plantar fasciitis problems</li>
    <li>Strengthening the muscles of the foot and ankle can assist in eliminating and avoiding these problems</li>
    <li>Supporting the foot with proper shoes and insoles, can prevent or eliminate the vast majority of foot related problems. This may be a Birkenstock sandal, with a broad base and contoured footbed, that islow to the ground and conforms to the foot. It may also be a shoe with an upper that wraps the foot and supports the arch and heel, thus limiting excessive pronation. The vast majority of footwear have more than enough cushion but very little support for the arch and heel. One of the easiest and most effective solutions is to add a simple over the counter insole that provides a forgiving support for both the arch and heel</li>
    <li>If you refer to Heel Spurs.com, you can see the results of 1300 respondents. Arch supports are recognized as the most successful remedy with stretching a close second</li>
   </ul>
  </div>
 </div>
</div>
 <!-- END OF ROW 3 -->
 <hr>
 <div class="row">
  <div class="col-lg-12">
   <h3>The following are a few helpful exercises. Check with your doctor for specifics on your condition and what you shoud or should not do for your problem.</h3>
   <a href="">Click here to download PDF version</a>
   <br>
   <img src="images/stretches/soleus.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/gastroc.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/singleLegTC.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/PFStretch.jpg" alt="" class="img-responsive stretchImages">
  </div>
 </div>
</div>
