


<div class="col-lg-12 col-md-12 injuryPages">
 <div class="row">
  <ul class="injuryNav">
   <a href="#/education/shinSplints" class="btn btn-primary injuryButton"><li>Shin Splints</li></a>
   <a href="#/education/runnersKnee" class="btn btn-primary injuryButton"><li>Runners Knee</li></a>
   <a href="#/education/neuromas" class="btn btn-primary injuryButton"><li>Neuromas</li></a>
   <a href="#/education/ibs" class="btn btn-primary injuryButton"><li>Iliotibial BS</li></a>
   <a href="#/education/hipPain" class="btn btn-primary injuryButton"><li>Hip Pain</li></a>
   <a href="#/education/heelPain" class="btn btn-primary injuryButton"><li>Heel Pain</li></a>
   <a href="#/education/bunions" class="btn btn-primary injuryButton"><li>Bunions</li></a>
   <a href="#/education/backPain" class="btn btn-primary injuryButton"><li>Back Pain</li></a>
   <a href="#/education/achilles" class="btn btn-primary injuryButton"><li>Achilles Tendon</li></a>
  </ul>
 </div>
 <!-- START OF ROW 1 -->
 <div class="row injuryRow1">
  <div class="col-lg-5 col-md-5">
   <img src="images/hipPain/hipPain1.jpg" alt="" class="img-responsive injuryImage1">
  </div>
  <div class="col-lg-7 col-md-7">
   <h2>Hip Pain</h2>
   <h3>SYMPTOMS</h3>
   <ul>
    <li><img src="images/footprint.png">Pain along the outside (lateral) of the hip</li>
    <li><img src="images/footprint.png">Pain when ascending stairs and/or getting up from a seated position</li>
    <li><img src="images/footprint.png">Pain associated with standing for long periods or for sitting for extended periods</li>
    <li><img src="images/footprint.png">May have trouble sleeping</li>
    <li><img src="images/footprint.png">May have limited range of motion of the hip</li>
   </ul>
   <h3>DEFINITIONS</h3>
   <h4>ILIOTIBIAL BAND SYNDROME</h4>
   <ul>
    <li><img src="images/footprint.png">An inflammation where the band rubs across the distal (lower portion) lateral femur</li>
    <li><img src="images/footprint.png">Pain is felt along the outer side of the hip and also possibly the knee</li>
   </ul>
   <h4>TROCHANTERIC BURSITIS</h4>
   <ul>
    <li><img src="images/footprint.png">Inflammation of the bursa along the outside of the hip</li>
    <li><img src="images/footprint.png">Mechanical imbalance in the lower extremity due to poor foot mechanics
    </li>
   </ul>
   <h4>PIRIFORMIS SYNDROME</h4>
   <ul>
    <li><img src="images/footprint.png">A spasm or tightness of the piriformis muscle in the buttocks that can irritate the sciatic nerve or impingethe sciatic nerve</li>
    <li><img src="images/footprint.png">May be caused by poor mechanics of the foot and lower extremity</li>
   </ul>
   <h4>HAMSTRING STRAIN</h4>
   <ul>
    <li><img src="images/footprint.png">A muscle imbalance or overload of the hamstring muscle which strains the muscle</li>
    <li><img src="images/footprint.png">Pain is located either in the buttocks or in the “belly” of the muscle in the back of the thigh</li>
    <li><img src="images/footprint.png">May feel tear or pop in severe cases</li>
   </ul>
   <h4>HIP FLEXOR STRAIN</h4>
   <ul>
    <li><img src="images/footprint.png">Overload or overuse of the muscle in front of thigh and hip such as climbing stairs, marching or uphillrunning</li>
    <li><img src="images/footprint.png">There may be a limp and shortened stride</li>
    <li><img src="images/footprint.png">Mechanical imbalance in lower extremity</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 1 -->
 <hr>
 <!-- START OF ROW 2 -->
 <div class="row injuryRow2">
  <div class="col-lg-6 col-md-6">
   <h3>PRIMARY CAUSE</h3>
   <h4>EXCESSIVE PRONATION</h4>
   <ul>
    <li><img src="images/footprint.png">Pronation (a flattening of the arch) is a normal movement of the foot that helps the body to absorb shockand to adapt to different ground surfaces</li>
    <li><img src="images/footprint.png">In analyzing ones gait, first contact is on the heel and outside of the foot; followed by a shift of bodyweight continuing forward, toward the arch and toes</li>
    <li><img src="images/footprint.png">If the foot is weak or tired and/or the footwear is not supportive, then the arch can flatten more thannormal, which is excessive pronation</li>
    <li><img src="images/footprint.png">If the pronation becomes excessive, there is increased rotation of the leg, knee, thigh and hip, causing added stresses to the joint</li>
    <li><img src="images/footprint.png">Flattening of the arch too much (excessive pronation) places pressure on the arch, and on up the chainincluding the ankle, knee and hip</li>
   </ul>
  </div>
  <div class="col-lg-6 col-md-6">
   <h3>CONTRIBUTING FACTORS</h3>
   <ul>
    <li><img src="images/footprint.png">Poor flexibility</li>
    <li><img src="images/footprint.png">Muscle imbalances</li>
    <li><img src="images/footprint.png">Leg length discrepancies</li>
    <li><img src="images/footprint.png">Tightness of IT Band/Tensor Fascia Latae</li>
    <li><img src="images/footprint.png">Flattened pronated feet</li>
    <li><img src="images/footprint.png">Poor support of shoes you wear and/or the support inside the shoes can add to the stress on the foot and lower extremity</li>
    <li><img src="images/footprint.png">Biomechanical changes in the foot can allow increases in pronation</li>
    <li><img src="images/footprint.png">Many foot injuries are caused by overpronation</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 2 -->
 <hr>
 <!-- START OF ROW 3 -->
 <div class="row injuryRow3">
  <div class="col-lg-12 col-md-12">
  <div class="col-lg-6 col-md-6">
   <img src="images/hipPain/hipPain2.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-lg-6 col-md-6">
   <span><h3>TREATMENT</h3> <p>- (advice given most often in literature)</p></span>
   <p>The 3 S's - Stretching, Strengthening and Supporting, along with ICE and REST, have been found to be the simplest and most effective treatment for these injuries.</p>
   <ul>
    <li><img src="images/footprint.png">Stretching of the IT Band, Hamstring, Quad and Psoas Major can help to decrease and eliminate manyof the problems</li>
    <li><img src="images/footprint.png">Strengthening of the muscles of the abdomen, quad and hip can assist in avoiding problems</li>
    <li><img src="images/footprint.png">Supporting the foot with proper shoes and insoles, can prevent or eliminate the vast majority of stresses on the lower extremity. This may be a Birkenstock sandal, with a broad base and contoured footbed, that is low to the ground and conforms to the foot. It may also be a shoe with an upper that wraps the foot and supports the arch and heel, thus limiting excessive pronation. The vast majority of footwear have more than enough cushion but very little support for the arch and heel. One of the easiest and most effective solutions is to add a simple over the counter insole that provides a forgiving support for both the arch and heel</li>
   </ul>
  </div>
 </div>
</div>
 <!-- END OF ROW 3 -->
 <hr>
 <row>
  <div class="col-lg-12 col-md-12">
   <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
    <h3>The following are a few helpful exercises. Check with your doctor for specifics on your condition and what you shoud or should not do for your problem.</h3>
    <a href="images/stretches/hipPainPDF.pdf" target="_blank">Click here to download PDF version</a>
    <br>
    <img src="images/stretches/hamstringStretch.jpg" alt="" class="img-responsive stretchImages">
    <img src="images/stretches/ibsStretch.jpg" alt="" class="img-responsive stretchImages">
    <img src="images/stretches/hipFlexor.jpg" alt="" class="img-responsive stretchImages">
    <img src="images/stretches/piriformisStretch.jpg" alt="" class="img-responsive stretchImages">
   </div>

  </div>
 </row>
</div>
