


<div class="col-lg-12 col-md-12 injuryPages">
 <div class="row">
  <ul class="injuryNav">
   <a href="#/education/shinSplints" class="btn btn-primary injuryButton"><li>Shin Splints</li></a>
   <a href="#/education/runnersKnee" class="btn btn-primary injuryButton"><li>Runners Knee</li></a>
   <a href="#/education/neuromas" class="btn btn-primary injuryButton"><li>Neuromas</li></a>
   <a href="#/education/ibs" class="btn btn-primary injuryButton"><li>Iliotibial BS</li></a>
   <a href="#/education/hipPain" class="btn btn-primary injuryButton"><li>Hip Pain</li></a>
   <a href="#/education/heelPain" class="btn btn-primary injuryButton"><li>Heel Pain</li></a>
   <a href="#/education/bunions" class="btn btn-primary injuryButton"><li>Bunions</li></a>
   <a href="#/education/backPain" class="btn btn-primary injuryButton"><li>Back Pain</li></a>
   <a href="#/education/achilles" class="btn btn-primary injuryButton"><li>Achilles Tendon</li></a>
  </ul>
 </div>
 <!-- START OF ROW 1 -->
 <div class="row injuryRow1">
  <div class="col-lg-5 col-md-5">
   <img src="images/neuromas/neuroma1.jpg" alt="" class="img-responsive injuryImage1">
  </div>
  <div class="col-lg-7 col-md-7">
   <h2>Neuromas</h2>
   <h3>SYMPTOMS</h3>
   <ul>
    <li><img src="images/footprint.png">Pain in area of "ball of foot"</li>
    <li><img src="images/footprint.png">Burning or tingling sensation in the foot and maybe some numbness</li>
    <li><img src="images/footprint.png">Cramping may also occur</li>
    <li><img src="images/footprint.png">No swelling or bumps</li>
   </ul>
   <h3>DEFINITIONS</h3>
   <h4>NEUROMAS</h4>
   <ul>
    <li><img src="images/footprint.png">A bundle of nerve endings whose covering is inflamed</li>
    <li><img src="images/footprint.png">Occurs when the tissue surrounding a nerve become enlarged - thickened</li>
    <li><img src="images/footprint.png">Usually a pinching of the third and fourth metatarsal bones which compresses a nerve</li>
    <li><img src="images/footprint.png">Generally occurs in adults and more common in females</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 1 -->
 <hr>
 <!-- START OF ROW 2 -->
 <div class="row injuryRow2">
  <div class="col-lg-6 col-md-6">
   <h3>PRIMARY CAUSE</h3>
   <h4>EXCESSIVE PRONATION</h4>
   <ul>
    <li><img src="images/footprint.png">Pronation is a normal movement of the foot, that allows the arch to flatten to a degree, which helps thebody to absorb shock and adapt to different ground surfaces</li>
    <li><img src="images/footprint.png">In analyzing ones gait, first contact is on the heel and outside of the foot; followed by a shift of bodyweight continuing forward, toward the arch and toes</li>
    <li><img src="images/footprint.png">If the foot is weak or tired and/or the footwear is not supportive, then the arch can flatten more thannormal, which is excessive pronation</li>
    <li><img src="images/footprint.png">Flattening of the arch (excessive pronation) places pressure on the foot and can decrease themetatarsal arch thus increasing the chance of compression on the nerve creating a neuroma</li>
    <li><img src="images/footprint.png">With excessive pronation, increased stresses can be placed on the foot</li>
   </ul>
  </div>
  <div class="col-lg-6 col-md-6">
   <h3>CONTRIBUTING FACTORS</h3>
   <ul>
    <li><img src="images/footprint.png">Flat Feet</li>
    <li><img src="images/footprint.png">Weraing of tight, poorly fitting shoes such as pointed, high heeled sheos</li>
    <li><img src="images/footprint.png">Aggravated by prolonged standing</li>
    <li><img src="images/footprint.png">Increased stress such as kneeling or ladders</li>
    <li><img src="images/footprint.png">Mechanically there is too much movement of the metatarsals (long bones of the foot)</li>
    <img src="images/neuromas/neuroma2.jpg" alt="" class="img-responsive">
   </ul>
  </div>
 </div>
 <!-- END OF ROW 2 -->
 <hr>
 <!-- START OF ROW 3 -->
 <div class="row injuryRow3">
  <div class="col-lg-6 col-md-6">
   <img src="images/neuromas/neuroma3.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-lg-6 col-md-6">
   <span><h3>TREATMENT</h3> <p>- (advice given most often in literature)</p></span>
   <p>The 3 S's - Stretching, Strengthening and Supporting, along with ICE and REST, have been found to be the simplest and most effective treatment for these injuries.</p>
   <ul>
    <li><img src="images/footprint.png">Stretching of the foot and massage can help to decrease pressure between the toes and metatarsals</li>
    <li><img src="images/footprint.png">Strengthening of the foot with the toe curl can help to strengthen the arch</li>
    <li><img src="images/footprint.png">Supporting the foot with the proper shoe and insoles, can help prevent, improve or eliminate the vast majority of foot problems. This may be a Birkenstock sandal, with a broad base and contoured footbed, that is low to the ground and conforms to the foot.  It may also be a shoe with an upper that wraps the foot and supports the arch and heel, thus limiting excessive pronation.  The vast majority of footwear have more than enough cushion but very little support for the arch and heel.  One of the easiest and most effective solutions is to add a simple over the couner insole that provides support for both the arch and heel.</li>
    <li><img src="images/footprint.png">Make sure the shoe has enough room in the toe box.</li>
    <li><img src="images/footprint.png">May need an additional metatarsal support to help decrease pressure on the ball of the foot.</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 3 -->
<a href="images/stretches/neuromasPDF.pdf" target="_blank">Click here to view a PDF version</a>
</div>
