<div class="col-lg-2">
 <ul class="injuryNav">
  <a href="#/education/shinSplints" class="btn btn-primary injuryButton"><li>Shin Splints</li></a>
  <a href="#/education/runnersKnee" class="btn btn-primary injuryButton"><li>Runners Knee</li></a>
  <a href="#/education/neuromas" class="btn btn-primary injuryButton"><li>Neuromas</li></a>
  <a href="#/education/ibs" class="btn btn-primary injuryButton"><li>Iliotibial BS</li></a>
  <a href="#/education/hipPain" class="btn btn-primary injuryButton"><li>Hip Pain</li></a>
  <a href="#/education/heelPain" class="btn btn-primary injuryButton"><li>Heel Pain</li></a>
  <a href="#/education/bunions" class="btn btn-primary injuryButton"><li>Bunions</li></a>
  <a href="#/education/backPain" class="btn btn-primary injuryButton"><li>Back Pain</li></a>
  <a href="#/education/achilles" class="btn btn-primary injuryButton"><li>Achilles Tendon</li></a>
 </ul>
</div>


<div class="col-lg-10 injuryPages">
 <!-- START OF ROW 1 -->
 <div class="row injuryRow1">
  <div class="col-lg-5">
   <img src="images/runnersKnee/runnersKnee.jpg" alt="" class="img-responsive injuryImage1">
  </div>
  <div class="col-lg-7">
   <h2>Runner's Knee</h2>
   <h3>SYMPTOMS</h3>
   <h4>Pain</h4>
   <ul>
    <li><img src="images/footprint.png">Along the medial (inner) aspect of the kneecap or just below the kneecap</li>
    <li><img src="images/footprint.png">When using stairs or going up/down hills</li>
    <li><img src="images/footprint.png">Worse after prolonged sitting with the knees bent</li>
    <li><img src="images/footprint.png">More of a dull ache</li>
    <li><img src="images/footprint.png">Cracking or grating in the knee</li>
    <li><img src="images/footprint.png">Eventually, knee may want to "catch" and may feel like it wants to give out</li>
   </ul>
   <h3>DEFINITIONS</h3>
   <ul>
    <li><img src="images/footprint.png">Softening of the cartilage on the pattella (kneecap)</li>
    <li><img src="images/footprint.png">Roughening of the cartilage under the patella caused by the kneecap not tracking porperly (patella does not glide smoothly over the femur/thigh bone)</li>
    <li><img src="images/footprint.png">May also be referred to as Chondromalacia Patella</li>
    <li><img src="images/footprint.png">One of the most common knee problems in running and other sports (may occur at any age)</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 1 -->
 <!-- START OF ROW 2 -->
 <div class="row injuryRow2">
  <div class="col-lg-6">
   <h3>PRIMARY CAUSE</h3>
   <h4>EXCESSIVE PRONATION</h4>
   <ul>
    <li><img src="images/footprint.png">Pronation is a normal movement of the foot, that allows the arch to flatten to a degree, which helps thebody to absorb shock and adapt to different ground surfaces</li>
    <li><img src="images/footprint.png">In analyzing ones gait, first contact is on the heel and outside of the foot, followed by a shift of bodyweight forward, toward the arch and toes</li>
    <li><img src="images/footprint.png">If the foot is weak or tired and/or the footwear is not supportive, then the arch can flatten more than normal, which is excessive pronation</li>
    <li><img src="images/footprint.png">Flattening of the arch (excessive pronation) increases stresses on the foot, which can further contributeto ankle, knee, hip and low back problems (a chain reaction)</li>
    <li><img src="images/footprint.png">This repetitive, excessive pronation, is the main contributor to many lower extremity, overuse injuries</li>
   </ul>
  </div>
  <div class="col-lg-6">
   <h3>CONTRIBUTING FACTORS</h3>
   <ul>
    <li><img src="images/footprint.png">Mechanical conditions including wide hips (females), knock knees, patella alta (high patella) and subluxating patella</li>
    <li><img src="images/footprint.png">Over pronation of the foot</li>
    <li><img src="images/footprint.png">Weakness of the quad, especially the VMO (Vastus Medialis Oblique Muscle) which runs along the inner aspect of the thigh and connects at the knee</li>
    <li><img src="images/footprint.png">Overuse, or an increase in hill running or stair use</li>
    <li><img src="images/footprint.png">Too large of a Q-angle at the knee (this is the angle of the quad muscle’s effective pull on the kneecap). Less than 12 degrees is normal and greater than 15 degrees is abnormal</li>
   </ul>
  </div>
 </div>
 <!-- END OF ROW 2 -->
 <!-- START OF ROW 3 -->
 <div class="row injuryRow3">
  <div class="col-lg-12">
  <div class="col-lg-6">
   <img src="images/runnersKnee/runnersKnee2.jpg" alt="" class="img-responsive">
  </div>
  <div class="col-lg-6">
   <span><h3>TREATMENT</h3> <p>- (advice given most often in literature)</p></span>
   <p>The 3 S's - Stretching, Strengthening and Supporting, along with ICE and REST, have been found to be the simplest and most effective treatment for these injuries.</p>
   <ul>
    <li><img src="images/footprint.png">Stretching of the hamstring, quad, calf and IT Band with help to decrease pressure at the kneecap</li>
    <li><img src="images/footprint.png">Strengthening of the quad, especially the VMO (vastus medialis oblique muscle) will help the kneecap to glide more correctly through the groove at the knee joint</li>
    <li><img src="images/footprint.png">Supporting the foot with proper shoes and insoles, can prevent or help to eliminate the vast majority oflower extremity problems due to faulty biomechanics. This may be a Birkenstock sandal, with a broad base and contoured footbed, that is low to the ground and conforming to the foot. It may be a shoe with an upper that wraps the foot and supports the arch and heel thus limiting excessive pronation. The vast majority of footwear have more than enough cushion but very little support for the arch and heel. One ofthe easiest and most effective solutions is to add a simple over the counter insole that provides a forgivingsupport for both the arch and heel</li>
    <li><img src="images/footprint.png">Avoid downhill running or going up/down stairs</li>
    <li><img src="images/footprint.png">Avoid exercises done with the knee bent unless being done as an isometric</li>
    <li><img src="images/footprint.png">Physical Therapy including exercise, ultrasound, iontophoresis and patellar mobilization</li>
   </ul>
  </div>
 </div>
</div>
 <!-- END OF ROW 3 -->
 <div class="row">
  <div class="col-lg-12">
   <h3>The following are a few helpful exercises. Check with your doctor for specifics on your condition and what you shoud or should not do for your problem.</h3>
   <a href="images/stretches/runnerKnee.pdf" target="_blank">Click here to download PDF version</a>
   <br>
   <img src="images/stretches/gastroc.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/soleus.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/supineHamstring.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/lyingQuad.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/quadSet.jpg" alt="" class="img-responsive stretchImages">
   <img src="images/stretches/isoHip.jpg" alt="" class="img-responsive stretchImages">
  </div>
 </div>
</div>
