



 <div class="col-lg-12 col-md-12 injuryPages">
  <div class="row">
   <ul class="injuryNav">
    <a href="#/education/shinSplints" class="btn btn-primary injuryButton"><li>Shin Splints</li></a>
    <a href="#/education/runnersKnee" class="btn btn-primary injuryButton"><li>Runners Knee</li></a>
    <a href="#/education/neuromas" class="btn btn-primary injuryButton"><li>Neuromas</li></a>
    <a href="#/education/ibs" class="btn btn-primary injuryButton"><li>Iliotibial BS</li></a>
    <a href="#/education/hipPain" class="btn btn-primary injuryButton"><li>Hip Pain</li></a>
    <a href="#/education/heelPain" class="btn btn-primary injuryButton"><li>Heel Pain</li></a>
    <a href="#/education/bunions" class="btn btn-primary injuryButton"><li>Bunions</li></a>
    <a href="#/education/backPain" class="btn btn-primary injuryButton"><li>Back Pain</li></a>
    <a href="#/education/achilles" class="btn btn-primary injuryButton"><li>Achilles Tendon</li></a>
   </ul>
  </div>
  <!-- START OF ROW 1 -->
  <div class="row injuryRow1">
   <div class="col-lg-5 col-md-5">
    <img src="images/shinSplints/shinSplints.jpg" alt="" class="img-responsive injuryImage1 widthFix">
    <img src="images/shinSplints/shinSplints2.jpg" alt="" class="img-responsive shinSplintImage2">
   </div>
   <div class="col-lg-7 col-md-7">
    <h1>Shin Splints</h1>
    <h3>SYMPTOMS</h3>
    <ul>
     <li><img src="images/footprint.png">Aching along front of shin, at beginning of or after activity</li>
     <li><img src="images/footprint.png">Pain along inside (medial) part of lower leg</li>
     <li><img src="images/footprint.png">Generally develops gradually over weeks or months</li>
     <li><img src="images/footprint.png">May have swelling in lower leg (in area of pain)</li>
    </ul>
    <h3>DEFINITIONS</h3>
    <h4>SHIN SPLINTS</h4>
    <ul>
     <li><img src="images/footprint.png">Common, umbrella term used to identify pain along the shin or front of lower leg</li>
     <li><img src="images/footprint.png">More specfic names for this condition are based on the area of the pain and the anatomy involved (see below)</li>
     <li><img src="images/footprint.png">Injury generally occurs as a result of overuse</li>
    </ul>
    <h4>STRESS FRACTURE - POSTERIOR</h4>
    <ul>
     <li><img src="images/footprint.png">Most often occurring on the tibia (shin bone) and along the bottom third of the lower leg</li>
     <li><img src="images/footprint.png">Often undetetable on x-ray until 10-14 days after pain starts</li>
    </ul>
    <h4>COMPARTMENT SYNDROME - ANTERIOR OR POSTERIOR</h4>
    <ul>
     <li><img src="images/footprint.png">The four divisions of muscles in the lower leg (anterior, lateral, posterior-superficial and deep) are each covered by thick tissue called fascia that surround the muscles completely</li>
     <li><img src="images/footprint.png">During exercise, muscle volume increases by 20%, increasing pressure within each compartment. Such pressure can affect blood vessels and nerves in the lower leg potentially causing pain and damage to tissue and nerves.</li>
    </ul>
    <h4>TIBIAL PERIOSTITIS - POSTERIOR</h4>
    <ul>
     <li><img src="images/footprint.png">An inflammation of or trauma to the covering of the bone in shin (periosteum)</li>
     <li><img src="images/footprint.png">Over-exertion causes small tears of the muscle from the covering of the bone (periosteum)</li>
     <li><img src="images/footprint.png">Pain is most pronounced in the lower 3rd of the posterior tibia</li>
    </ul>
    <h4>MEDIAL TIBIAL STRESS SYNDROME - POSTERIOR</h4>
    <ul>
     <li><img src="images/footprint.png">Stress to the muscles along the front medial side of the shin</li>
     <li><img src="images/footprint.png">Generally occurring along the bottom third of the inside of tibia (shin)</li>
    </ul>
   </div>
  </div>
  <!-- END OF ROW 1 -->
  <hr>
  <!-- START OF ROW 2 -->
  <div class="row injuryRow2">
   <div class="col-lg-6 col-md-6">
    <h3>PRIMARY CAUSE</h3>
    <h4>EXCESSIVE PRONATION</h4>
    <ul>
     <li><img src="images/footprint.png">Pronation is a normal movement of the foot, that allows the arch to flatten to a degree, which helps the body to absorb and adapt to different ground surfaces</li>
     <li><img src="images/footprint.png">In analyzing ones gait, first contact is on the heel and outside of the foot; followed by a shift of body weight continuing forward, toward the arch and toes</li>
     <li><img src="images/footprint.png">If the foot is weak or tired and/or the footwear is not supportive, then the arch can flatten more than normal, which is excessive pronation</li>
     <li><img src="images/footprint.png">Flattening of the arch (excessive pronation) places pressure on the arch and can cause some rotation intothe lower leg. This repetitive movement can cause overuse problems from the foot to the back</li>
     <li><img src="images/footprint.png">If excessive pronation occurs from lack of support, then, increased stresses can be placed on the lower leg and contribute to overuse problems</li>
    </ul>
   </div>
   <div class="col-lg-6 col-md-6">
    <h3>CONTRIBUTING FACTORS</h3>
    <ul>
     <li><img src="images/footprint.png">Muscular imblances of lower leg (claf muscles and anterior leg muscles)</li>
     <li><img src="images/footprint.png">Insufficient shock absorption</li>
     <li><img src="images/footprint.png">Poor biomechanics/improper foot positioning while running</li>
     <li><img src="images/footprint.png">Worn out or inappropriate shoes</li>
     <li><img src="images/footprint.png">Sudden increase in exercise or running (too much, too soon)</li>
     <li><img src="images/footprint.png">Incorrect individual training plan</li>
     <li><img src="images/footprint.png">Flat pronated feet</li>
     <img src="images/shinSplints/shinSplints3.jpg" alt="" class="img-responsive">
    </ul>
   </div>
  </div>
  <!-- END OF ROW 2 -->
  <hr>
  <!-- START OF ROW 3 -->
  <div class="row injuryRow3">
   <div class="col-lg-6 col-md-6">
    <img src="images/shinSplints/shinSplints4.jpg" alt="" class="img-responsive">
   </div>
   <div class="col-lg-6 col-md-6">
    <span><h3>TREATMENT</h3> <p>- (advice given most often in literature)</p></span>
    <p>The 3 S's - Stretching, Strengthening and Supporting, along with ICE and REST, have been found to be the simplest and most effective treatment for these injuries.</p>
    <ul>
     <li><img src="images/footprint.png">Stretching of the calf ( both gastroc and soleus muscles) and achilles tendon</li>
     <li><img src="images/footprint.png">Strengthening of the anterior leg muscles (that pull the foot and toes up)</li>
     <li><img src="images/footprint.png">Supporting the foot with proper shoes and insoles, can prevent and eliminate the vast majority of lowerleg problems due to overuse. This may be a Birkenstock sandal, with a broad base and contouredfootbed, that is low to the ground and conforms to the foot. It may also be a shoe with an upper thatwraps the foot and supports the arch and heel, thus limiting excessive pronation. The vast majority of footwear have more than enough cushion but very little support for the arch and heel. One of the easiestand most effective solutions is to add a simple over the counter insole that provides a forgiving support for both the arch and heel</li>
     <li><img src="images/footprint.png">Physical therapy including massage, ultrasound and exercises</li>
    </ul>
   </div>
  </div>
  <!-- END OF ROW 3 -->
  <hr>
  <div class="row">
   <div class="col-lg-12 col-md-12">
    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
     <h3>The following are a few helpful exercises. Check with your doctor for specifics on your condition and what you shoud or should not do for your problem.</h3>
     <a href="images/shinSplints/InfoSheet.pdf" target="_blank">Click here to download PDF version</a>
     <br>
     <img src="images/stretches/gastroc.jpg" alt="" class="img-responsive stretchImages">
     <img src="images/stretches/soleus.jpg" alt="" class="img-responsive stretchImages">
     <img src="images/stretches/ankleDorsiflexion.jpg" alt="" class="img-responsive stretchImages">
     <img src="images/stretches/calfRaises.jpg" alt="" class="img-responsive stretchImages">
    </div>

   </div>
  </div>
 </div>
