<div class="row aboutHeader">
 <h1>The Foot Store</h1>
</div>
<div class="row storeDescription">
 <h2>Who We Are</h2>
 <h4>We are more than a traditional retail shoe store.</h4>

 <p>Here at The Foot Store, we have a new approach to footcare.  With over 30 years combined experience in physical therapy, athletic training, pedorthics and retail, our staff offers their expertise while providing the best service to each customer.</p.

 <p>While you're here, relax while watching nature videos and enjoy the serene atmosphere. Try your shoes out on the treadmill. At The Foot Store, expert personal assistance for each and every customer is our priority.</p>
</div>
<div class="row carolynRow">
 <h2>Carolyn Varndell</h2>
 <p></p>
 <img src="images/carolyn.jpg" alt="" class="img-rounded">
</div>
<div class="row staffHeader">
 <h2>The Staff</h2>
</div>
<div class="row">
<div class="col-lg-12 staffBlock">
 <div ng-repeat="people in staff">
  <div class="col-lg-4 staffCards">
   <img src="{{people.image}}" alt="" class="img-rounded img-responsive">
  </div>
 </div>
</div>
</div>
