<row>
 <img src="images/Store_Fronts.png" alt="" class="img-responsive">
</row>
<row>
 <!-- <div class="col-lg-4">
  <h3>Customer Reward Program</h3>
  <p>The Foot Store Customer Reward Program was designed in appreciation for your business and loyalty to the store.  here's how it works: Joining is <b>FREE</b> and can be completed during your next isit to the store.  Every time you shop at The Foot Store you earn 1 "Foot Print" for every \ you spend.  The Foot Store will automatically track your "Foot Prints" for you.  When you have earned 200 "Foot Prints" you will receive a \.00 Reward to be used at our store.</p>
  <h4>\ "Foot Print" Reward</h4>
  <ul>
   <li>Earned every time a customer reaches 200 "Foot Prints".</li>
   <li>1 "Foot Print" is accrued for eah \ spent (excludes sales tax, shipping, giftcard/certificate purchases).</li>
   <li>Will be available 30 days from date earned</li>
   <li>Expire 1 year from date of availability.</li>
  </ul>
  <h4>Other ways to earn Rewards:</h4>
  <h5>\ Refer a Friend Reward</h6>
  <p>Refer a friend who is a new customer to The Foot Store and you will receive a \ reward after their first purchase. The person you refer must know your name and phone number so we can apply the reward to your account.</p>
  <h5>\ Birthday Reward</h6>
  <p>Posted the month before your birthday each year and must be used during the month of your birthday.</p>
  <h4>Redeeming your rewards</h4>
  <ol>
   <li>If you have multiple rewards you may choose which reward to use.</li>
   <li>You may only redeem one reward per purchase.</li>
   <li>Items may not be sold on separate receipts.</li>
   <li>Rewards have no cash value and may not be used to pay for the following:
    <ul>
      <li>sales tax</li>
      <li>gift cards/certificates</li>
      <li>account balances</li>
      <li>shipping charges</li>
    </ul>
   </li>
  </ol>
 </div> -->
 <div class="col-lg-12">
   <div class="col-lg-6">
    <h2 class="FSBlue">The Foot Store</h2>
    <div>
     <ui-gmap-google-map center='map.center' zoom='map.zoom'><ui-gmap-marker idkey='marker.id' coords='marker.coords'>
     </ui-gmap-marker></ui-gmap-google-map>
    </div>
    <ul>
     <li>1901 N.Highway 17 <br> Mt.Pleasant, SC 29646 <br> Tuesday - Saturday<br> 10 AM - 6 PM</li>
     <li>footstore@footstore.com</li>
     <li><b>843-849-1108</b></li>
     <li>843-849-1170(fax)</li>
    </ul>
   </div>
   <div class="col-lg-6">
    <h2 class="FSBlue">The Foot Store North</h2>
    <ui-gmap-google-map center='map2.center' zoom='map2.zoom'><ui-gmap-marker idkey="marker2.id" coords="marker2.coords">
    </ui-gmap-marker></ui-gmap-google-map>
    <ul>
     <li>3471 W. Montague Avenue <br> N. Charleston, SC 29418 <br> Tuesday - Saturday<br> 10 AM - 6 PM</li>
     <li>footstore@footstore.com</li>
     <li><b>843-747-0602</b></li>
     <li>843-747-0604(fax)</li>
    </ul>
   </div>
   <div class="row">
    <div class="form-group">
     <label for="emailInput">Email address</label>
     <input type="email" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
     <label for="nameInput">Full Name</label>
     <input type="text" class="form-control" placeholder="Enter name">
    </div>
   </div>
</div>
</row>
