<row>
 <div class="col-lg-6">
  <img src="https://placehold.it/400x500" alt="">
 </div>
 <div class="col-lg-6">
  <img src="https://placehold.it/500x200" alt="">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime expedita rerum non perspiciatis et! Magnam, quisquam placeat architecto earum vitae maxime culpa commodi aut, fugiat eaque nisi, et explicabo nihil. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque tempore quibusdam, odit! Iure voluptas temporibus quae amet ullam in, necessitatibus ipsam. Soluta quasi eius obcaecati voluptates nobis atque commodi molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam velit odit ab ullam obcaecati mollitia molestiae veritatis nihil et praesentium tempora id nam expedita corrupti aliquam voluptate, soluta doloremque laborum!</p>
 </div>
</row>

<row>
 <img src="https://placehold.it/700x200" alt="">
</row>
