<div class="row">
 <div ng-controller="homePageCtrl">
  <div id="carouselWrapper" style="height: 305px">
   <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
     <img ng-src="{{slide.image}}" style="margin:auto;">
    </slide>
   </carousel>
  </div>
 </div>
</div>

<div class="row">
 <div class="mainSection">
 <div class="col-lg-4">
  <img src="https://placehold.it/200x200" alt="">
 </div>
 <div class="col-lg-4">
  <img src="https://placehold.it/200x200" alt="">
 </div>
 <div class="col-lg-4">
  <img src="https://placehold.it/200x200" alt="">
 </div>
</div>
</div>
